/* universal */
body{
  background-color:hsl(40,100%,95%);
  color:#ff0000;
  width:100%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body img{
  max-width:100%;
  max-height:auto;
}
/* navigation*/

nav{
  color:white;
  background:linear-gradient(to top,hsl(40,100%,95%),hsl(0, 100%, 34%),hsl(40,100%,95%));
  display:flex;
  justify-content:center;
  height:75px;
  align-items:center;
  font-size:25px;
 
}
nav img{
  height:100px;
  width:150px;
}
nav a{
  flex-grow:1;
  text-align:center;
  text-decoration:none;
  color:black;
  margin:auto;
  font-weight:700;  
}
nav a:hover{
  color:white;

}


/* main */
main{
  background-color:hsl(0, 100%, 19%);
  height:960px;
  color:white;
  position:relative;
  top:25px;
}

.grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "photo main main main quote"
  "photo main main main quote "
  "photo main main main quote"

}
.grid-list{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows:repeat(3, 1fr);
}
.grid-list span{
  justify-self:center;
  padding:10px;
  background:linear-gradient(to top right, black,hsl(0, 100%, 34%), black);
  width:200px;
  margin: 10px 0;
  box-shadow:5px 5px 8px black;

}
.owner img{
  height:auto;
  width:475px;
  max-width:100%;
  max-height:auto;
}
.owner{
  grid-area: photo;
  border:1px solid black;
  padding:5px;
  box-shadow: 4px 4px 8px hsl(0, 100%, 19%);
  background-color:black;
}
.owner h3{
  text-align:center;
  font-size:30px;
  text-decoration: underline;
  }
  .owner p{
    text-align:center;
    font-size:20px;

  }
#about{
  grid-area:main;
}
#about h1{
  text-align:center;
  font-size:50px;
  border-top:5px solid black;
  border-bottom:5px solid black;
  background-color:hsl(0, 100%, 10%);

}
#about h3{
  text-align:center;
  font-size:30px;
}
#about p{
  position:relative;
  margin:auto;
  padding:10px 20px;
  text-overflow: wrap;
}


.contact p{
padding-left:20px;
}
#pressure-wash{
  grid-area:quote;
  border:5px solid black;
  background-color:black;
  text-align:center;
}
/* services */
.grid-serv{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "grid1 grid2 grid3 grid4"
  
}


#services-section{
  position:relative;
  top:25px;
  height:31.5rem;
  width:auto;
  max-width:100%;
  grid-column-gap:5px;
margin:5px;
}
.service-grid{
text-align:center;
display:grid;
align-items:end;
box-shadow: 5px 3px 1px black;

}
.service-grid span{
  padding:20px;
font-size:30px;
font-weight:700;
background-color:hsl(0, 100%, 24%);
color:black;
opacity:0.8;

}
.service-grid:hover span{
  display:block;
}
.service-grid:hover{
  transform: scale(1.005);
}
#grid-1{
  background-image:url(newconstruction.jpg);
  grid-area: grid1;
  border-right:2px solid black;
  background-position:center;
}
#grid-2{
  border-right:2px solid black;
  grid-area: grid2;
  background-image: url(93595755_10219454515647825_1922356859801436160_n.jpg);
  background-position:center;
}

#grid-3{
  border-right:2px solid black;
  grid-area: grid3;
  background-image: url(80543581_178225456910625_7439422671420391424_o.jpg);
}

#grid-4{
  border-right:2px solid black;
  grid-area: grid4;
  background-image: url(71669672_127364858663352_6811755240249884672_n.jpg);
  background-position:center;
}


/* carousel */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width:50%;
  margin:auto;
  top:50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* footer section */
footer{
  position:relative;
  top:100px;
 min-width:100%; 
max-width:100%;
height:auto;
max-height:100%;
background:linear-gradient(to top right, black,hsl(0, 100%, 34%), black);
display:grid;
grid-template-areas:
"contact social area";
opacity:0.9;
}
footer h4{
  text-align:center;
  font-size:20px;
  color:hsl(0, 0%, 35%);
}

.foot img{
  height:50px;
  width:50px;
  padding:5px;
  position:relative;
  left:45%;
}
footer p{
  padding-left:15px;
  font-size:15px;
  text-align:center;
  color:hsl(0, 0%, 55%);
}
