/* universal */
body{
  background-color:#400000;
  color:#ff0000;
  width:100%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* navigation*/

nav{
  color:white;
  background-color:#000000;
  display:flex;
  justify-content:center;
  height:75px;
  align-items:center;
  font-size:25px;
 
}
nav img{
  height:100px;
  width:150px;
}
nav a{
  flex-grow:1;
  text-align:center;
  text-decoration:none;
  color:#ff0000;
  margin:auto;  
}
nav a:hover{
  color:white;

}


/* main */
main{
  background-color:blue;
  height:1000px;
}
/*articles & more info*/
section{
  position:relative;
  background-color:#800000;
  color:white;
  top:50px;
  width: 100%;
  height:500px;
  margin:auto;
  float:left;
  max-width:100%;
  display:flex;
  justify-content: space-evenly;
}
section h3{
  text-align:center;
  font-size:50px;
  text-decoration:underline;
  font-weight:800;
  
}
section span{
  text-align:center;
  font-size:20px;
  padding:10px;

}

.art-1{ 
  background: linear-gradient(to left,#ff0000,#400000,#000000);
  border-right:1px solid white;
  flex: 2 1;
  display:flex;
  justify-content:center;
  flex-direction:column;
}
.list{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background:linear-gradient(to right,#ff0000,#400000,#000000);
}
.list span{
  border:2px solid white;
}
.art-2{
  background-color:blue;
  flex: 1 1;
  height:1000px;
  display:flex;
  justify-content:flex-end;
}


/* carousel */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width:50%;
  margin:auto;
  top:50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}